# Database Configuration
DB_HOST=web-mysql
DB_USERNAME=root
DB_PASSWORD=root123
DB_DATABASE=app_web1
DB_PORT=3306

# Redis Configuration
REDIS_HOST=web-redis
REDIS_PORT=6379

# Application Configuration
APP_ENV=local

